:root {
	--gradient-color: linear-gradient(90deg, #008dd2 0%, #61ff56 100%);
	--gradient-color2: linear-gradient(90deg, #008dd2 0%, #61ff56 60%);

	--primary-color: #003314;
	--secundary-color: #eedec5;

	--background-light: #fafbfe;
	--background-dark: #282c34;

	--font-light: #fafbfe;
	--font-dark: #686868;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	font-family: 'Roboto';
}

/* #root {
	display: flex;
	justify-content: center;
} */

/* body {
	background-color: var(--secundary-color);
} */
