:root {
	--gradient-color: linear-gradient(90deg, #008dd2 0%, #61ff56 100%);
	--gradient-color2: linear-gradient(90deg, #008dd2 0%, #61ff56 60%);

	--dark-color: #38574c;
	--primary-color: #4e7a6b; /* font & border */
	--secundary-color: #8dab93; /* background */
	--third-color: #eedec5; /* font light */
	--fourth-color: #a49078; /* font & border */
	--fifth-color: #d6d1bd; /* background */

	--background-light: #fafbfe;
	--font-dark: #282c34;

	--font-light: #fafbfe;
	/* --font-dark: #686868; */
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	font-family: 'Roboto';
}

/* #root {
	display: flex;
	justify-content: center;
} */

body {
	background-color: var(--fifth-color);
}
