/* ---------------------------------------------------------------------------------------- */
/* LANDING */
/* ---------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------- */
/* HOME */
/* ---------------------------------------------------------------------------------------- */

.container-home {
	display: flex;
	justify-content: center;
	width: 100%;

	color: var(--fifth-color);
	font-size: 20px;
}

.container-home img {
	width: 100%;
	object-fit: cover;
}

.cover-home {
	top: 15%;
	height: 75%;
	width: 100%;
	max-width: 1000px;
	position: absolute;

	display: flex;
	align-items: flex-end;
}

.cover-home img {
	position: absolute;
	top: 10%;
	left: -23px;
	width: 400px;
}

.contactanos {
	background-color: rgb(78, 122, 107, 0.7);
	padding: 20px;
	border-radius: 20px;
}

.contactanos ul {
	color: var(--third-color);
	list-style: none;
	padding-bottom: 10px;
}

.contactanos li {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.contactanos li img {
	position: relative;
	top: 0;
	left: 0;
	width: 20px;
	padding-right: 10px;
}

.contactanos button {
	padding: 10px;
	font-size: 16px;
	color: var(--third-color);
	background-color: var(--fourth-color);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s;
}

.contactanos button:hover {
	opacity: 0.8;
}

.wave-1 {
	position: absolute;
	height: 150px;
	width: 100%;
	overflow: hidden;

	bottom: -20%;
}

.wave-1 svg {
	height: 100%;
	width: 100%;
}

.wave-1 path {
	stroke: none;
	fill: var(--fifth-color);
}

/* ---------------------------------------------------------------------------------------- */
/* NOSOTROS */
/* ---------------------------------------------------------------------------------------- */

#nosotros {
	display: flex;
	justify-content: center;
}

.container-nosotros {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100%;
	max-width: 1000px;
	margin-top: 15px;

	/* border: 2px solid red; */
}

.cover-nosotros h2 {
	color: var(--primary-color);
	padding-bottom: 30px;
}

/* ---------------------------------------------------------------------------------------- */
/* ÁREAS DE PRACTICA */
/* ---------------------------------------------------------------------------------------- */

#áreas-de-práctica {
	display: flex;

	justify-content: center;
}

.container-areas {
	display: flex;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	max-width: 1000px;
	margin-top: 15px;
	height: 100vh;
}

.container-areas h2 {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	padding-bottom: 30px;
}

.cards-areas {
	display: flex;
	justify-content: space-between;
}

.card-area {
	height: 250px;
	width: 200px;
	padding: 30px;
	border: 2px solid var(--primary-color);
	border-radius: 20px;

	position: relative;
}

.card-area ul {
	padding-left: 15px;
}

.card-area h3 {
	color: var(--primary-color);
	padding-bottom: 10px;
}

.mas-info {
	position: absolute;
	bottom: 10%;

	padding: 10px;
	border-radius: 10px;
	background-color: var(--primary-color);
	cursor: pointer;
	transition: all 0.2s;
}

.mas-info hr {
	border: 1px solid var(--fifth-color);
}

.mas-info:hover {
	background-color: var(--fourth-color);
}

.card-area a {
	font-weight: 600;
	color: var(--fifth-color);
	text-decoration: none;
}

.icono {
	display: flex;
	justify-content: center;
}

.icono img {
	width: 40px;
	padding-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------- */
/* SERVICIOS */
/* ---------------------------------------------------------------------------------------- */

#servicios {
	display: flex;
	justify-content: center;
}

.container-servicios {
	display: flex;
	justify-content: center;
	flex-direction: column;

	height: 100vh;
	width: 100%;
	max-width: 1000px;
	margin-top: 15px;
}

.container-servicios h2 {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.cards-servicios {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
}

.card-servicios {
	height: 100px;
	width: 200px;
	padding: 30px;
	border: 2px solid var(--primary-color);
	border-radius: 20px;
}

.card-servicios h3 {
	padding-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------- */
/* CONTACTO */
/* ---------------------------------------------------------------------------------------- */

#contacto {
	display: flex;
	justify-content: center;
}

.container-contacto {
	max-width: 1000px;
	width: 100%;
	margin-top: 15px;

	border: 2px solid red;
}

.container-contacto ul {
	padding-left: 15px;
}
