/* ---------------------------------------------------------------------------------------- */
/* LANDING */
/* ---------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------- */
/* HOME */
/* ---------------------------------------------------------------------------------------- */

.container-home {
	display: flex;
	justify-content: center;
	width: 100%;

	color: var(--font-light);
	font-size: 20px;
}

.container-home img {
	width: 100%;
	object-fit: cover;
}

.cover-home {
	top: 15%;
	height: 80%;
	width: 100%;
	max-width: 1000px;
	position: absolute;
}

.wave-1 {
	position: absolute;
	height: 150px;
	width: 100%;
	overflow: hidden;

	bottom: -20%;

	color: var(--background-dark);
}

.wave-1 svg {
	height: 100%;
	width: 100%;
}

.wave-1 path {
	stroke: none;
	fill: white;
}

/* ---------------------------------------------------------------------------------------- */
/* NOSOTROS */
/* ---------------------------------------------------------------------------------------- */

.container-nosotros {
	padding: 20px;
}
